# Importing Libraries for scrapping data

In [ ]:
import pandas as pd
import pandas as pd
import numpy as np

# We have scrapped data of  batting and bowling of world cup 2023 from ESPN Cricinfo,we have also cleaned/removed unwanted rows like injured players from the Dataset

In [ ]:
url="https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/icc-cricket-world-cup-2023-24-15338"
all_tables = pd.read_html(url)
all_tables[0]

,Player,Span,Mat,Inns,Balls,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,A Zampa (AUS),2023-2023,9,9,474,79.0,1,416,22,4/8,18.90,5.26,21.54,3,-
1,D Madushanka (SL),2023-2023,9,9,470,78.2,4,525,21,5/80,25.00,6.70,22.38,1,1
2,G Coetzee (SA),2023-2023,7,7,327,54.3,1,349,18,4/44,19.38,6.40,18.16,1,-
3,Shaheen Shah Afridi (PAK),2023-2023,9*,9,486,81.0,3,481,18,5/54,26.72,5.93,27.00,-,1
4,M Jansen (SA),2023-2023,8,8,388,64.4,3,415,17,3/31,24.41,6.41,22.82,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Shadab Khan (PAK),2023-2023,6*,5,228,38.0,-,237,2,1/45,118.50,6.23,114.00,-,-
76,R Ashwin (IND),2023-2023,1,1,60,10.0,1,34,1,1/34,34.00,3.40,60.00,-,-
77,AL Phehlukwayo (SA),2023-2023,1,1,42,7.0,-,36,1,1/36,36.00,5.14,42.00,-,-
78,Saqib Zulfiqar (NED),2023-2023,2,2,30,5.0,-,40,1,1/25,40.00,8.00,30.00,-,-
79,JE Root (ENG),2023-2023,9*,2,61,10.1,-,67,1,1/19,67.00,6.59,61.00,-,-

In [ ]:
#Removing Injured players in 2023
df= all_tables[0]
rows_to_remove = [18,33,44,47,55,58,60,64,67,68,69,70,71,73,74,76,78]

# Remove rows by index
df_filtered = df.drop(rows_to_remove)

# Display the DataFrame after removing rows
print("\nDataFrame after removing rows:")
print(df_filtered)

DataFrame after removing rows:
                       Player       Span Mat  Inns  Balls  Overs Mdns  Runs  \
0               A Zampa (AUS)  2023-2023   9     9    474   79.0    1   416
1           D Madushanka (SL)  2023-2023   9     9    470   78.2    4   525
2              G Coetzee (SA)  2023-2023   7     7    327   54.3    1   349
3   Shaheen Shah Afridi (PAK)  2023-2023  9*     9    486   81.0    3   481
4               M Jansen (SA)  2023-2023   8     8    388   64.4    3   415
..                        ...        ...  ..   ...    ...    ...  ...   ...
66            SA Abbott (AUS)  2023-2023   1     1     60   10.0    -    61
72          PVD Chameera (SL)  2023-2023   4     4    188   31.2    3   196
75          Shadab Khan (PAK)  2023-2023  6*     5    228   38.0    -   237
77        AL Phehlukwayo (SA)  2023-2023   1     1     42    7.0    -    36
79              JE Root (ENG)  2023-2023  9*     2     61   10.1    -    67

    Wkts   BBI     Ave  Econ      SR  4  5
0     22   4/8   18.90  5.26   21.54  3  -
1     21  5/80   25.00  6.70   22.38  1  1
2     18  4/44   19.38  6.40   18.16  1  -
3     18  5/54   26.72  5.93   27.00  -  1
4     17  3/31   24.41  6.41   22.82  -  -
..   ...   ...     ...   ...     ... .. ..
66     2  2/61   30.50  6.10   30.00  -  -
72     2  1/20   98.00  6.25   94.00  -  -
75     2  1/45  118.50  6.23  114.00  -  -
77     1  1/36   36.00  5.14   42.00  -  -
79     1  1/19   67.00  6.59   61.00  -  -

[63 rows x 15 columns]

In [ ]:
df_filtered.to_csv("Bowlers2023.csv")
df= pd.read_csv("Bowlers2023.csv")
df.head()

,Unnamed: 0,Player,Span,Mat,Inns,Balls,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,0,A Zampa (AUS),2023-2023,9,9,474,79.0,1,416,22,4/8,18.90,5.26,21.54,3,-
1,1,D Madushanka (SL),2023-2023,9,9,470,78.2,4,525,21,5/80,25.00,6.70,22.38,1,1
2,2,G Coetzee (SA),2023-2023,7,7,327,54.3,1,349,18,4/44,19.38,6.40,18.16,1,-
3,3,Shaheen Shah Afridi (PAK),2023-2023,9*,9,486,81.0,3,481,18,5/54,26.72,5.93,27.00,-,1
4,4,M Jansen (SA),2023-2023,8,8,388,64.4,3,415,17,3/31,24.41,6.41,22.82,-,-

In [ ]:
url="https://www.espncricinfo.com/records/tournament/batting-most-sixes-career/icc-cricket-world-cup-2023-24-15338"
all_tables = pd.read_html(url)
all_tables[0]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,GJ Maxwell (AUS),2023-2023,7,7,2,397,201*,79.40,260,152.69,2,-,1,40,22
1,RG Sharma (IND),2023-2023,8,8,0,442,131,55.25,360,122.77,1,2,1,50,22
2,Q de Kock (SA),2023-2023,9,9,0,591,174,65.66,541,109.24,4,-,-,57,21
3,MR Marsh (AUS),2023-2023,8,8,1,426,177*,60.85,389,109.51,2,1,1,42,20
4,DA Warner (AUS),2023-2023,9,9,0,499,163,55.44,473,105.49,2,2,-,48,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Mohammad Nabi (AFG),2023-2023,9,6,0,55,19,9.16,76,72.36,-,-,-,3,1
96,Mustafizur Rahman (BAN),2023-2023,8,6,2,42,20,10.50,89,47.19,-,-,-,4,1
97,Shaheen Shah Afridi (PAK),2023-2023,9*,6,3,55,25,18.33,60,91.66,-,-,-,7,1
98,Shoriful Islam (BAN),2023-2023,8,6,5,28,12,28.00,28,100.00,-,-,-,3,1
99,M Theekshana (SL),2023-2023,8,6,2,100,38*,25.00,185,54.05,-,-,2,11,1

In [ ]:
#Removing Injured players in 2023
df= all_tables[0]
rows_to_remove = [25,49,50,51,55,67,80,86,97]

# Remove rows by index
df_filtered = df.drop(rows_to_remove)

# Display the DataFrame after removing rows
print("\nDataFrame after removing rows:")
print(df_filtered)

DataFrame after removing rows:
                     Player       Span Mat  Inns  NO  Runs    HS    Ave   BF  \
0          GJ Maxwell (AUS)  2023-2023   7     7   2   397  201*  79.40  260
1           RG Sharma (IND)  2023-2023   8     8   0   442   131  55.25  360
2            Q de Kock (SA)  2023-2023   9     9   0   591   174  65.66  541
3            MR Marsh (AUS)  2023-2023   8     8   1   426  177*  60.85  389
4           DA Warner (AUS)  2023-2023   9     9   0   499   163  55.44  473
..                      ...        ...  ..   ...  ..   ...   ...    ...  ...
94             MM Ali (ENG)  2023-2023  6*     6   0    95    42  15.83  127
95      Mohammad Nabi (AFG)  2023-2023   9     6   0    55    19   9.16   76
96  Mustafizur Rahman (BAN)  2023-2023   8     6   2    42    20  10.50   89
98     Shoriful Islam (BAN)  2023-2023   8     6   5    28    12  28.00   28
99        M Theekshana (SL)  2023-2023   8     6   2   100   38*  25.00  185

        SR 100 50  0  4s  6s
0   152.69   2  -  1  40  22
1   122.77   1  2  1  50  22
2   109.24   4  -  -  57  21
3   109.51   2  1  1  42  20
4   105.49   2  2  -  48  20
..     ...  .. .. ..  ..  ..
94   74.80   -  -  -   8   1
95   72.36   -  -  -   3   1
96   47.19   -  -  -   4   1
98  100.00   -  -  -   3   1
99   54.05   -  -  2  11   1

[91 rows x 15 columns]

In [ ]:
df_filtered.to_csv("Batters2023.csv")
df= pd.read_csv("Batters2023.csv")
df.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,0,GJ Maxwell (AUS),2023-2023,7,7,2,397,201*,79.40,260,152.69,2,-,1,40,22
1,1,RG Sharma (IND),2023-2023,8,8,0,442,131,55.25,360,122.77,1,2,1,50,22
2,2,Q de Kock (SA),2023-2023,9,9,0,591,174,65.66,541,109.24,4,-,-,57,21
3,3,MR Marsh (AUS),2023-2023,8,8,1,426,177*,60.85,389,109.51,2,1,1,42,20
4,4,DA Warner (AUS),2023-2023,9,9,0,499,163,55.44,473,105.49,2,2,-,48,20

# We now Scrap data for all matches held till now in the world cup and their results amd we also scrap the points table.

In [ ]:
url="https://www.espncricinfo.com/records/tournament/team-match-results/icc-cricket-world-cup-2023-24-15338"
all_tables = pd.read_html(url)
all_tables[0]

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,England,New Zealand,New Zealand,9 wickets,Ahmedabad,"Oct 5, 2023",ODI # 4658
1,Netherlands,Pakistan,Pakistan,81 runs,Hyderabad,"Oct 6, 2023",ODI # 4659
2,Afghanistan,Bangladesh,Bangladesh,6 wickets,Dharamsala,"Oct 7, 2023",ODI # 4660
3,South Africa,Sri Lanka,South Africa,102 runs,Delhi,"Oct 7, 2023",ODI # 4661
4,India,Australia,India,6 wickets,Chennai,"Oct 8, 2023",ODI # 4662
5,Netherlands,New Zealand,New Zealand,99 runs,Hyderabad,"Oct 9, 2023",ODI # 4663
6,Bangladesh,England,England,137 runs,Dharamsala,"Oct 10, 2023",ODI # 4664
7,Pakistan,Sri Lanka,Pakistan,6 wickets,Hyderabad,"Oct 10, 2023",ODI # 4665
8,India,Afghanistan,India,8 wickets,Delhi,"Oct 11, 2023",ODI # 4666
9,Australia,South Africa,South Africa,134 runs,Lucknow,"Oct 12, 2023",ODI # 4667
10,Bangladesh,New Zealand,New Zealand,8 wickets,Chennai,"Oct 13, 2023",ODI # 4668
11,India,Pakistan,India,7 wickets,Ahmedabad,"Oct 14, 2023",ODI # 4669
12,Afghanistan,England,Afghanistan,69 runs,Delhi,"Oct 15, 2023",ODI # 4670
13,Australia,Sri Lanka,Australia,5 wickets,Lucknow,"Oct 16, 2023",ODI # 4671
14,Netherlands,South Africa,Netherlands,38 runs,Dharamsala,"Oct 17, 2023",ODI # 4672
15,Afghanistan,New Zealand,New Zealand,149 runs,Chennai,"Oct 18, 2023",ODI # 4673
16,India,Bangladesh,India,7 wickets,Pune,"Oct 19, 2023",ODI # 4674
17,Australia,Pakistan,Australia,62 runs,Bengaluru,"Oct 20, 2023",ODI # 4675
18,Netherlands,Sri Lanka,Sri Lanka,5 wickets,Lucknow,"Oct 21, 2023",ODI # 4676
19,England,South Africa,South Africa,229 runs,Wankhede,"Oct 21, 2023",ODI # 4677
20,India,New Zealand,India,4 wickets,Dharamsala,"Oct 22, 2023",ODI # 4678
21,Afghanistan,Pakistan,Afghanistan,8 wickets,Chennai,"Oct 23, 2023",ODI # 4679
22,Bangladesh,South Africa,South Africa,149 runs,Wankhede,"Oct 24, 2023",ODI # 4680
23,Australia,Netherlands,Australia,309 runs,Delhi,"Oct 25, 2023",ODI # 4681
24,England,Sri Lanka,Sri Lanka,8 wickets,Bengaluru,"Oct 26, 2023",ODI # 4682
25,Pakistan,South Africa,South Africa,1 wicket,Chennai,"Oct 27, 2023",ODI # 4683
26,Australia,New Zealand,Australia,5 runs,Dharamsala,"Oct 28, 2023",ODI # 4684
27,Bangladesh,Netherlands,Netherlands,87 runs,Eden Gardens,"Oct 28, 2023",ODI # 4685
28,India,England,India,100 runs,Lucknow,"Oct 29, 2023",ODI # 4686
29,Afghanistan,Sri Lanka,Afghanistan,7 wickets,Pune,"Oct 30, 2023",ODI # 4687
30,Bangladesh,Pakistan,Pakistan,7 wickets,Eden Gardens,"Oct 31, 2023",ODI # 4688
31,New Zealand,South Africa,South Africa,190 runs,Pune,"Nov 1, 2023",ODI # 4689
32,India,Sri Lanka,India,302 runs,Wankhede,"Nov 2, 2023",ODI # 4690
33,Afghanistan,Netherlands,Afghanistan,7 wickets,Lucknow,"Nov 3, 2023",ODI # 4691
34,New Zealand,Pakistan,Pakistan,21 runs,Bengaluru,"Nov 4, 2023",ODI # 4692
35,Australia,England,Australia,33 runs,Ahmedabad,"Nov 4, 2023",ODI # 4693
36,India,South Africa,India,243 runs,Eden Gardens,"Nov 5, 2023",ODI # 4694
37,Bangladesh,Sri Lanka,Bangladesh,3 wickets,Delhi,"Nov 6, 2023",ODI # 4695
38,Afghanistan,Australia,Australia,3 wickets,Wankhede,"Nov 7, 2023",ODI # 4696
39,England,Netherlands,England,160 runs,Pune,"Nov 8, 2023",ODI # 4697
40,New Zealand,Sri Lanka,New Zealand,5 wickets,Bengaluru,"Nov 9, 2023",ODI # 4698
41,Afghanistan,South Africa,South Africa,5 wickets,Ahmedabad,"Nov 10, 2023",ODI # 4699
42,Australia,Bangladesh,Australia,8 wickets,Pune,"Nov 11, 2023",ODI # 4700
43,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701
44,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702

In [ ]:
url = 'https://www.espncricinfo.com/records/tournament/team-match-results/icc-cricket-world-cup-2023-24-15338'

In [ ]:
all_table = pd.read_html(url)
all_table[0]

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,England,New Zealand,New Zealand,9 wickets,Ahmedabad,"Oct 5, 2023",ODI # 4658
1,Netherlands,Pakistan,Pakistan,81 runs,Hyderabad,"Oct 6, 2023",ODI # 4659
2,Afghanistan,Bangladesh,Bangladesh,6 wickets,Dharamsala,"Oct 7, 2023",ODI # 4660
3,South Africa,Sri Lanka,South Africa,102 runs,Delhi,"Oct 7, 2023",ODI # 4661
4,India,Australia,India,6 wickets,Chennai,"Oct 8, 2023",ODI # 4662
5,Netherlands,New Zealand,New Zealand,99 runs,Hyderabad,"Oct 9, 2023",ODI # 4663
6,Bangladesh,England,England,137 runs,Dharamsala,"Oct 10, 2023",ODI # 4664
7,Pakistan,Sri Lanka,Pakistan,6 wickets,Hyderabad,"Oct 10, 2023",ODI # 4665
8,India,Afghanistan,India,8 wickets,Delhi,"Oct 11, 2023",ODI # 4666
9,Australia,South Africa,South Africa,134 runs,Lucknow,"Oct 12, 2023",ODI # 4667
10,Bangladesh,New Zealand,New Zealand,8 wickets,Chennai,"Oct 13, 2023",ODI # 4668
11,India,Pakistan,India,7 wickets,Ahmedabad,"Oct 14, 2023",ODI # 4669
12,Afghanistan,England,Afghanistan,69 runs,Delhi,"Oct 15, 2023",ODI # 4670
13,Australia,Sri Lanka,Australia,5 wickets,Lucknow,"Oct 16, 2023",ODI # 4671
14,Netherlands,South Africa,Netherlands,38 runs,Dharamsala,"Oct 17, 2023",ODI # 4672
15,Afghanistan,New Zealand,New Zealand,149 runs,Chennai,"Oct 18, 2023",ODI # 4673
16,India,Bangladesh,India,7 wickets,Pune,"Oct 19, 2023",ODI # 4674
17,Australia,Pakistan,Australia,62 runs,Bengaluru,"Oct 20, 2023",ODI # 4675
18,Netherlands,Sri Lanka,Sri Lanka,5 wickets,Lucknow,"Oct 21, 2023",ODI # 4676
19,England,South Africa,South Africa,229 runs,Wankhede,"Oct 21, 2023",ODI # 4677
20,India,New Zealand,India,4 wickets,Dharamsala,"Oct 22, 2023",ODI # 4678
21,Afghanistan,Pakistan,Afghanistan,8 wickets,Chennai,"Oct 23, 2023",ODI # 4679
22,Bangladesh,South Africa,South Africa,149 runs,Wankhede,"Oct 24, 2023",ODI # 4680
23,Australia,Netherlands,Australia,309 runs,Delhi,"Oct 25, 2023",ODI # 4681
24,England,Sri Lanka,Sri Lanka,8 wickets,Bengaluru,"Oct 26, 2023",ODI # 4682
25,Pakistan,South Africa,South Africa,1 wicket,Chennai,"Oct 27, 2023",ODI # 4683
26,Australia,New Zealand,Australia,5 runs,Dharamsala,"Oct 28, 2023",ODI # 4684
27,Bangladesh,Netherlands,Netherlands,87 runs,Eden Gardens,"Oct 28, 2023",ODI # 4685
28,India,England,India,100 runs,Lucknow,"Oct 29, 2023",ODI # 4686
29,Afghanistan,Sri Lanka,Afghanistan,7 wickets,Pune,"Oct 30, 2023",ODI # 4687
30,Bangladesh,Pakistan,Pakistan,7 wickets,Eden Gardens,"Oct 31, 2023",ODI # 4688
31,New Zealand,South Africa,South Africa,190 runs,Pune,"Nov 1, 2023",ODI # 4689
32,India,Sri Lanka,India,302 runs,Wankhede,"Nov 2, 2023",ODI # 4690
33,Afghanistan,Netherlands,Afghanistan,7 wickets,Lucknow,"Nov 3, 2023",ODI # 4691
34,New Zealand,Pakistan,Pakistan,21 runs,Bengaluru,"Nov 4, 2023",ODI # 4692
35,Australia,England,Australia,33 runs,Ahmedabad,"Nov 4, 2023",ODI # 4693
36,India,South Africa,India,243 runs,Eden Gardens,"Nov 5, 2023",ODI # 4694
37,Bangladesh,Sri Lanka,Bangladesh,3 wickets,Delhi,"Nov 6, 2023",ODI # 4695
38,Afghanistan,Australia,Australia,3 wickets,Wankhede,"Nov 7, 2023",ODI # 4696
39,England,Netherlands,England,160 runs,Pune,"Nov 8, 2023",ODI # 4697
40,New Zealand,Sri Lanka,New Zealand,5 wickets,Bengaluru,"Nov 9, 2023",ODI # 4698
41,Afghanistan,South Africa,South Africa,5 wickets,Ahmedabad,"Nov 10, 2023",ODI # 4699
42,Australia,Bangladesh,Australia,8 wickets,Pune,"Nov 11, 2023",ODI # 4700
43,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701
44,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702

In [ ]:
df =all_table[0]
df.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,England,New Zealand,New Zealand,9 wickets,Ahmedabad,"Oct 5, 2023",ODI # 4658
1,Netherlands,Pakistan,Pakistan,81 runs,Hyderabad,"Oct 6, 2023",ODI # 4659
2,Afghanistan,Bangladesh,Bangladesh,6 wickets,Dharamsala,"Oct 7, 2023",ODI # 4660
3,South Africa,Sri Lanka,South Africa,102 runs,Delhi,"Oct 7, 2023",ODI # 4661
4,India,Australia,India,6 wickets,Chennai,"Oct 8, 2023",ODI # 4662

In [ ]:
df.to_csv('Results.csv')

In [ ]:
url="https://www.cricketworldcup.com/standings"
all_tables = pd.read_html(url)
all_tables[0]

,Pos,Team,Played,PLD,Won,Lost,N/R,Tied,Net RR,NRR,PointsPts
0,1,INDIA IND,9,9,0,0,0,2.570,18,NaN,NaN
1,2,SOUTH AFRICA SA,9,7,2,0,0,1.261,14,NaN,NaN
2,3,AUSTRALIA AUS,9,7,2,0,0,0.841,14,NaN,NaN
3,4,NEW ZEALAND NZ,9,5,4,0,0,0.743,10,NaN,NaN
4,5,Pakistan PAK,9,4,5,0,0,-0.199,8,NaN,NaN
5,6,Afghanistan AFG,9,4,5,0,0,-0.336,8,NaN,NaN
6,7,England ENG,9,3,6,0,0,-0.572,6,NaN,NaN
7,8,Bangladesh BAN,9,2,7,0,0,-1.087,4,NaN,NaN
8,9,Sri Lanka SL,9,2,7,0,0,-1.419,4,NaN,NaN
9,10,Netherlands NED,9,2,7,0,0,-1.825,4,NaN,NaN

In [ ]:
df =all_tables[0]
df.head()

,Pos,Team,Played,PLD,Won,Lost,N/R,Tied,Net RR,NRR,PointsPts
0,1,INDIA IND,9,9,0,0,0,2.570,18,NaN,NaN
1,2,SOUTH AFRICA SA,9,7,2,0,0,1.261,14,NaN,NaN
2,3,AUSTRALIA AUS,9,7,2,0,0,0.841,14,NaN,NaN
3,4,NEW ZEALAND NZ,9,5,4,0,0,0.743,10,NaN,NaN
4,5,Pakistan PAK,9,4,5,0,0,-0.199,8,NaN,NaN

In [ ]:
df.to_csv('points_table.csv')